@charset "utf-8";

/*import font*/
@font-face {
    font-family: ABeeZee;
    src: url(/assets/fonts/ABeeZee-Regular.ttf);
}

/*set defaults*/
*{
    font-family: ABeeZee;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(#a6c6fa, #cde7f5, #f2f9fd, #f7fbfd);
}

/*Styles for header/navbar*/
header{
    width: auto;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.6s;
}

.bg-dark{
    background-color: rgba(49, 54, 57, 0.85) !important;
    transition: 0.6s ;
    color: #fff;
}

.navbar{
    transition: 0.5s;
}

/* Scroll to top button */
#scroll-top{
    position: fixed;
    bottom: 52px;
    right: 70px;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
}

#scroll-up-arrow{
    color: #fff;
}

#scroll-top:hover{
    transform: scale(1.2);
    background-color: rgba(132, 198, 241, 0.5);
    transition: all 0.3s ease 0s;
}

/* Reduce size of button for mobile */
@media screen and (max-width: 767px) {
    #scroll-top{
        right: 20px;
        bottom:18px;
    }
    #scroll-up-arrow{
        color: #fff;
        font-size: 20px;
    }
}

/*css style for name logo*/
#navname {
    margin-left: 8vw;
    font-weight: bold;
    font-size: 25px;
}

.navbar li a{
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1.2px;
    /*transition to add hover animation*/
    transition: all 0.3s ease 0s;
}

.navbar li a:hover{
    color: #e9967a !important;
    transform: scale(1.17);
}
/*End of header/navbar styles*/

/*for all page headers*/
.pageheader{
    font-size: 2.5em;
    font-weight: bold;
}

/*Footer styles*/
.pagefooter{
    margin: 50px 0px 20px;
}

.footercontainer i{
    transition: all 0.3s ease 0s;
}

.footercontainer i:hover{
    color: #148ddd;
    transform: scale(1.17);
    transition: all 0.3s ease 0s;
}

#footertext1{
    font-size: 22px;
}

#footertext2{
    font-size: 10px;
}

/*Change all Font Awsome icons color and size*/
.fa, .fas{
    color: #1f1f1f;
    font-size: 28px;
}
/*End of footer styles*/