@charset "utf-8";


#carousel-header h3{
    font-size: 2.2em;
    font-weight: bold;
}

.carousel-caption mark{
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

/*styles for timeline*/

#timeline-header h3{
    font-size: 2.7em;
    font-weight: bold;
}

.carousel-inner{
    box-shadow: 0px 0px 20px #00000030; /*0 offset 20px blur radius*/
}

.timeline {
    max-width: 1350px; /*limit width of timeline */
    margin: 0 auto;
}

.timeline-container {
    width: 50%;
}

/* moves container to the left */
.left {
    left: 0px;
}

/* moves container to the right */
.right {
    left: 50%;
}


/* creates line */
.timeline::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    /* width of line */
    width: 6px;
    /* line color */
    background-color: #343a40;
    /* centers line to middle of page */
    left: 50%;
    margin-left: -3px;
}

/* creates dot */
.timeline-container::after {
    content: '';
    position: absolute;
    /* size of dot */
    width: 25px;
    height: 25px;
    /* moves dot lower */
    top: 15px;
    /* dot color */
    background-color: #fff;
    border: 4px solid cyan;
    /* makes dot round */
    border-radius: 50%;
    /* brings dot to the front */
    z-index: 1;
    /* align dot to center for left container, -13px from right */
    right: -13px; 
}

/* used to align the dot for right container, -13px from left */
.right::after {
    left: -13px;
}

/* content outline */
.timeline-content {
    background-color: #e9967a;
    position: relative;
    border-radius: 6px;
    box-shadow: 0px 0px 20px #00000030; /*0 offset 20px blur radius*/
}

/* content header */
.timeline-content h2{
    font-size: 25px;
    font-weight: bold;
}

/* content paragraph */
.timeline-content p{
    font-size: 16px;
    line-height: 22px; /*add spacing between lines*/
}

/* move year above text box */
.timeline-content h3{
    font-size: 14px;
    letter-spacing: 2px;
}

/*badges styling*/
.timeline-content .school, .level {
    font-size: 13px;
    color: #fff;
}

.timeline-content .school{background-color: #148ddd;}
.timeline-content .level{background-color: #ae11ce;}

/* for mobile responsiveness */
@media screen and (max-width: 768px) {
    /* move line to 31px from relative left */
    .timeline::after {
      left: 31px;
    }
  
    .timeline-container {
      width: 100%;
    }

    /* aligns dot to line on the left */
    .left::after, .right::after {
      left: 18px;
    }
    
    /* moves right container to middle */
    .right {
      left: 0%;
    }
}

#certification-header h3{
    font-size: 2.4em;
    font-weight: bold;
}


.ec-badge{
    max-width: 200px;
}

.nse-badge{
    max-width: 200px;
}