@media (max-width: 576px) {
  .cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
    font-size: 7vw;
    color: #1f1f1f;
    font-family: 'ABeeZee';
  }
}

@media (min-width: 577px) {
  .cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
    font-size: 60px;
    color: #1f1f1f;
    font-family: 'ABeeZee';
  }
}

.cd-words-wrapper b {
  display: inline;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

@media (max-width: 576px) {
  .blc {
    font-size: 7.5vw;
    font-family: 'ABeeZee';
    vertical-align: middle;
    color: #1f1f1f;
  }
}

@media (min-width: 577px) {
  .blc {
    font-size: 60px;
    font-family: 'ABeeZee';
    color: #1f1f1f;
  }
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}

@media (max-width: 576px) {
  .cd-headline.clip .cd-words-wrapper {
    overflow: hidden;
    vertical-align: middle;
  }
}

@media (min-width: 577px) {
  .cd-headline.clip .cd-words-wrapper {
    overflow: hidden;
    vertical-align: top;
  }
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
  font-weight: 900;
}

@media (max-width: 576px) {
  .blinking {
    font-size: 6.5vw;
    vertical-align: middle;
    animation: blinkingText 1.2s infinite;
    color: #1f1f1f;
  }
}

@media (min-width: 577px) {
  .blinking {
    font-size: 55px;
    animation: blinkingText 1.2s infinite;
    color: #1f1f1f;
  }
}

