@charset "utf-8";

/*import font*/
@font-face {
    font-family: ABeeZee;
    src: url(/assets/fonts/ABeeZee-Regular.ttf);
}

/*set defaults*/
*{
    font-family: ABeeZee;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(#a6c6fa, #cde7f5, #f2f9fd, #f7fbfd);
}

/*Styles for header/navbar*/
header{
    position: fixed;
    width: 100%;
    display: flex; /*using flex to provide some responsiveness*/
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.6s;
    /*keep z position on top*/
    z-index: 1;
}

/*css styles for header after Y position changed*/
header.scrolling{
    padding: 15px 100px;
    background-color: rgba(49, 54, 57, 0.85);
}

header.scrolling ul li a {
    color: #fff;
}

header.scrolling #navname {
    color: #fff;
}

/*css style for name logo*/
#navname {
    margin-left: 8vw;
    font-weight: bold;
    font-size: 26px;
    color: #232b47;
}

/*css styles for navbar*/
.navbar ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li{
    /*inline-block to make menu items horizontal*/
    display: inline-block;
    list-style-type: none;
    padding: 0px 20px;
}

.navbar li a{
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #232b47;
    letter-spacing: 1.2px;
    /*transition to add css animation*/
    transition: all 0.3s ease 0s;

}

.navbar li a:hover{
    color: #e9967a;
    transform: scale(1.17);
}
/*End of header/navbar styles*/

/*for all page headers*/
.pageheader{
    text-align: center;
    width: 100%;
    padding-top:8.5%;
    font-size: 1.4em;
}

/*Footer styles*/
.pagefooter{
    display: inline-block;
    text-align: center;
    margin: 50px 0px 20px;
    bottom: 0;
    width: 100%;
}

.footercontainer i:hover{
    color: #148ddd;
    transform: scale(1.17);
    transition: all 0.3s ease 0s;
}

#footertext1{
    font-size: 20px;
}

#footertext2{
    margin-top: 10px;
    font-size: 10px;
}

.footercontainer{
    padding: 15px;
}

.footercontainer a{
    padding: 5px;
}

/*Change all Font Awsome icons color and size*/
.fa, .fas{
    color: #1f1f1f;
    font-size: 28px;
}
/*End of footer styles*/