@charset "utf-8";

/*styles for timeline*/
.timeline-container{
    min-height: 100vh;
    min-width: 100%;
    display: flex; /*flex to add some web responsiveness*/
    align-items: center; /*align items to center*/
    justify-content: center; /*align items to center*/
}

.timeline{
    width: 80%;
    max-width: 1100px;
    margin: 10vh auto 0;
    position: relative;
}

.timeline ul{
    list-style: none;
}

/*timeline verticle line*/
.timeline::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 4px;
    background-color: #343a40;
    /*ensure line is in center of page*/
    left: 50%;/*set line 50% from left*/
    transform: translateX(-50%); /*transform to do reverse*/
}

.timeline ul li{
    padding: 20px;
    background-color: #e9967a;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 50%;
    position: relative;
}
/*left item*/
.timeline ul li:nth-child(odd){
    float: left;
    clear: right; /*clear right side*/
    transform: translateX(-50px); /*move away from vertical line*/
}
/*right item*/
.timeline ul li:nth-child(even){
    float: right;
    clear: left; /*clear left side*/
    transform: translateX(50px); /*move away from vertical line*/
}

/*timeline dot*/
.timeline ul li::after{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 4px solid cyan;
    border-radius: 50%;
    top: 0;
}

/*keeping timeline dot on the line*/
.timeline ul li:nth-child(odd)::after{
    right: -50px;
    transform: translate(50%, 50%); /*move it to the side*/
}

/*keeping timeline dot on the line*/
.timeline ul li:nth-child(even)::after{
    left: -50px;
    transform: translate(-50%, 50%); /*move it to the side*/
}

/*styling content*/
.timeline-content h2{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.timeline-content p{
    font-size: 16px;
    line-height: 22px; /*add spacing between lines*/
}

.timeline-content h3{
    font-size: 14px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    position: absolute;
    top: -40px;
}

.timeline-content .school, .level {
    display: inline-block;
    font-size: 13px;
    color: #fff;
    padding: 3px 8px;
    margin: 0 3px 8px;
    border-radius: 210px;
}

.timeline-content .school{background-color: #148ddd;}
.timeline-content .level{background-color: #ae11ce;}
