@charset "utf-8";

.about-header{
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin: 35px 0 15px;
}

.about-container{
    align-items: center;
    display: flex; /*flex to add some responsiveness*/
    flex-direction: column;
    justify-content: center;
    margin: 7vh 0 15vh;
}

.top-container, .bottom-container{
    margin: 40px 0;
}

/*keep item on the left*/
.left{
    float: left;
    padding-right: 30px;
}

/*keep item on the right*/
.right{
    float: right;
    padding-left: 30px;
}

#image1{
    max-width: 300px;
    width: 100%; /*make image responsive*/
    height: auto; /*make image responsive*/
}

#image2{
    max-width: 425px;
    width: 100%; /*make image responsive*/
    height: auto; /*make image responsive*/
}

.text-container{
    text-align: center;
}

.text-container h2{
    font-size: 2em;
}

.text-container p{
    width: 700px;
    border-radius: 10px; /*rounded edges*/
    padding: 15px 25px;
    margin: 1.4vh auto;
    background-color: #e9967a;
    font-size: 18px;
    text-align: center;
}

/*career prospects styles*/
.career-container-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 75px 0;
}

.career-container-col{
    flex-direction: column;
    width: 290px;
    display: inline-block;
}

/*devices width smaller than 1400px will have smaller margins for aesthetics*/
@media screen and (max-width: 1400px) {
    .career-container-col {
        margin: 0 25px;
    }
  }

/*devices width larger than 1401px will have bigger margins for aesthetics*/
@media screen and (min-width: 1401px) {
    .career-container-col {
        margin: 0 35px;
    }
}

.career-header-container{
    display: flex;
    
}

.career-header-container .career-icon {
    display: inline-block;
    width:  80px;
    height: 80px;
    object-fit: contain; /*contain to maintain aspect ratio but resized to fit dimensions*/
    margin-right: 10px;
}

.career-header-container h2{
    border-radius: 2px; /*rounded edges*/
    background-color: #e9967a;
    box-shadow: 0px 0px 20px #00000020; /*0 offset 20px blur radius*/
    padding: 10px 20px;
}

.career-container-col p{
    margin: 20px 0 5px;
    border-radius: 8px; /*rounded edges*/
    background-color: #82c2ff;
    box-shadow: 0px 0px 20px #00000040; /*0 offset 20px blur radius*/
    padding: 15px 25px;
}