@charset "utf-8";
/*content styling*/

.introheader{
    
    height: 100vh;
    width: 100%;
}

.introheader h1{
    text-align: center;
    font-size:60px;
    padding-top: 5em;
}

.introheader p{
    text-align: center;
    padding: 5px;
    margin-bottom: 40vh;
    font-size: 15px;
}

.downarrow{
    text-align: center;
    font-size: 30px;
}

#about-header{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 25px;
}

.row{
    width: 40vw;
    display: block;
    border-radius: 10px; /*rounded edges*/
    padding: 15px 25px;
    box-sizing: border-box;
    margin: 25px 12vw;
    background-color: #e9967a;
    text-align: center;
}

.row p{
    font-size: 18px;
}

.right-item{
    float: right;
}

.left-item{
    float: left;
}